.container-form {
  height: 65vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin: 20px; */
  background-color: #222;
}

.card-form {
  border: 2px solid grey;
  width: 40%;
  /* height: 450px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 30px;
}

.container-info {
  border-bottom: 1px solid grey;
  width: 100%;
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.form-signin {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 80%;
}

.form-signin label {
  margin-bottom: 10px;
  color: white;
}
.form-signin input {
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid grey;
  outline: none;
  height: 40px;
  color: white;
}

.form-signin a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.form-signin a:hover {
  color: red;
}

.container-info h4 {
  /* padding: 10px; */
  color: white;
}

.container-btn {
  /* border: 2px solid red; */
  margin: 10px;
  text-align: center;
}

.btn-google {
  border: 2px solid red;
  /* background-color: black; */
}
